 @font-face {
    font-family: lolkek;
    src:url(Fonts/Rowdies/Rowdies-Bold.ttf),
        url(Fonts/Rowdies/Rowdies-Light.ttf),
        url(Fonts/Rowdies/Rowdies-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
     font-family: lolkek;
     line-height: 1.5em;
 }
   h1 {
       font-family: 'The-Black-Bloc';
       font-size: 200%;
   }
  
  
  h2
    {
        
        font-family: 'The-Black-Bloc';
        font-size: 150%;
        
        
    }
