 body {
     font-family: fantasy, sans-serif;
     line-height: 1.5em;
 }
   h1 {
       font-family: fantasy;
       font-size: 200%;
   }
  
  
  h2
    {
        background-color:black;
        padding: 10px;
        font-size: 150%;
        border-bottom: 3px double Yellow;
        color: Yellow;
    }
