 @font-face {
    font-family: 'The-Black-Bloc';
    src:url(Fonts/Rowdies/'Rowdies-Bold.ttf') format('ttf'),
        url(Fonts/Rowdies/'Rowdies-Light.ttf') format('ttf'),
        url(Fonts/Rowdies/'Rowdies-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
     font-family: 'The-Black-Bloc';
     line-height: 1.5em;
 }
   h1 {
       font-family: 'The-Black-Bloc';
       font-size: 200%;
   }
  
  
  h2
    {
        
        font-family: 'The-Black-Bloc';
        font-size: 150%;
        
        
    }
