  .border {
     border: 2px dashed;
}
#shapka {
  border: 6px dashed black;
  
}

#psevdo1 a:link {
     color:#007e7e;
      }
      #psevdo1 a:hover {
         color: #0d5353;
         background-color: #f88396;
      }
      #psevdo1 a:visited {
         color: #333333;
      }
 #psevdo1 a:focus {
    color: green;
      }

#test111 h2 {
      color: red;
      background-color: green;
      float: right;
      width: 100px;
}
h2 {
       color:Yellow;
       background-color: black;
       text-decoration: underline Yellow;
      }

  body {
       background-color: Yellow;
       margin-left: 10%;
       margin-right: 10%;
       border: 6px double black;
       border-style: solid;
       background-image: url(Images/danger.jpg);
       font-size: medium;
       background-size: contain;
       background-size: cover;
       
      }
       p { 
           background-color:black;
           text-decoration: underline Yellow;
           color: Yellow;
    
       }
       
       
       blockquote.clown
       {
           color: Yellow;
           background-color:black;
       }
    
    h1 
         {
       color: Yellow;
       background-color:black;
       font-size: 300%;
         }
 h3 
{
   color: Yellow;
   background-color: black;
   text-decoration: underline Yellow;
   {
    
    
