  .border {
     border: 2px dashed;
}
#shapka h1 {
  border: 6px dashed black;
  padding: 10px;
  background-color: black;
  background-size: cover, contain;
}
#layer1, #layer2 {
    position: relative; 
   } 
#layer1 {
    font-size: 50px;
    color: #000080;
  }
   #layer1 { z-index: 2; }
   #layer2 { z-index: 1; }
#layer2 {
    top: -60px; 
    left: 10px; 
    color: #ffa500; 
    font-size:70px; 
  }
#psevdo1 a:link {
     color:#007e7e;
     text-decoration: none;
     border-bottom: thin dotted OrangeRed;
      }
      #psevdo1 a:hover {
         color: #0d5353;
         background-color: #f88396;
         
      }
      #psevdo1 a:visited {
         color: #333333;
         text-decoration: none;
         border-bottom: thin dotted OrangeRed;
      }
 #psevdo1 a:focus {
    color: green;
    
      }

#test111 h2 {
      color: red;
      background-color: green;
      float: right;
      width: 100px;
      position: absolute;
      top: 100px;
      left: 150px;
      right: 400px;
}
h2 {
       color:Yellow;
       background-color: black;
       text-decoration: underline Yellow;
      }

  body {
       background-color: Yellow;
       margin-left: auto;
       margin-right: auto;
       border: 6px double black;
       border-style: solid;
       background-image: url(Images/danger.png);
       font-size: medium;
       background-size: contain;
       background-size: cover;
       clear: right;
       
      }
       p { 
           background-color:black;
           text-decoration: underline Yellow;
           color: Yellow;
    
       }
       
       
       blockquote.clown
       {
           color: Yellow;
           background-color:black;
       }
    
    h1 
         {
       color: Crimson;
       background-color:black;
       font-size: 300%;
         }
 h3 
{
   color: Yellow;
   background-color: black;
   text-decoration: underline Yellow;
}
    
    
