   #test123 h2 {
      color: red;
      background-color: green;
}

  body {
       background-color: Yellow;
       margin-left: 10%;
       margin-right: 10%;
       border: 6px double black;
       border-style: solid;
       background-image: url(Images/danger.jpg);
       font-size: medium;
       background-size: contain;
       background-size: cover;
       
      }
       p { 
           background-color:black;
           text-decoration: underline Yellow;
           color: Yellow;
    
       }
       
       
       blockquote.clown
       {
           color: Yellow;
           background-color:black;
       }
    
    h1 
         {
       color: Yellow;
       background-color:black;
       font-size: 300%;
         }
 h3 
{
   color: Yellow;
   background-color: black;
   text-decoration: underline Yellow;
   {
    h2 {
       color:Yellow;
       background-color: black;
       text-decoration: underline Yellow;
      }
  
