
<link rel="shortcut icon" href="Images/skull.ico" type="image/x-icon">
  body {
       background-color: Yellow;
       margin-left: 10%;
       margin-right: 10%;
       border: 6px double black;
       border-style: solid;
       background-image: url(Images/danger.jpg);
       font-size: medium;
       background-size: contain;
       background-size: cover;
       
      }
       p { 
           background-color:black;
           text-decoration: underline Yellow;
           color: Yellow;
    
       }
       
       
       blockquote.clown
       {
           color: Yellow;
           background-color:black;
       }
    
    h1 
         {
       color: Yellow;
       background-color:black;
       font-size: 300%;
         }
   
    #test123 {
      color: red;
      background-color: green;
}
   #test111 {
      padding: 10px;
      color: Yellow; 
      background-color: black;
}
   
    
  
